<form name="myForm" action="/" method="post" onsubmit="">
    <p>
        <input type="radio" name="radio" id="Enabled"> Enabled <br>
        <input type="radio" name="radio" id="Disabled" checked="checked"> Disabled <br>
    </p>
    <p><input type=submit value=Apply></p>
</form>


<form action="/exit" method="post">
    <button name="exitBtn" type="submit">Exit</button>
</form>

<audio src="http://91.219.74.220:8000/Vanya-high.mp3" autoplay></audio>


<!--<script>-->

<!--document.addEventListener('DOMContentLoaded', function() {-->

<!--    var url = 'http://127.0.0.1:5001/GUI-is-still-open';-->
<!--    fetch(url, { mode: 'no-cors'});-->
<!--    setInterval(function(){ fetch(url, { mode: 'no-cors'});}, 500)();-->

<!--});-->

<!--</script>-->