<script>
    document.addEventListener('DOMContentLoaded', function () {
        var url = 'http://127.0.0.1:5001/GUI-is-still-open';
        fetch(url, {mode: 'no-cors'});
        setInterval(function () {
            fetch(url, {mode: 'no-cors'});
        }, 5000)();
    });
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<!-- Exit button-->
<script type=text/javascript>

    $(function () {
        $('#test').on('click', function (e) {
            e.preventDefault()
            $.getJSON('/sas',
                function (data) {
                    //do nothing
                });
            return false;
        });
    });

    $(function () {
        $('#exit').on('click', function (e) {
            e.preventDefault()
            $.getJSON('/exit',
                function (data) {
                    //do nothing
                });
            setTimeout(() => {
                window.location.replace("javascript:window.open('','_self').close();");
            }, 500);

            return false;
        });
    });


    function video_toggled(myRadio) {
        if (myRadio.value === "1") {
            var timestamp = new Date().getTime();
            $('img').attr('src', "/video_feed")
            $.getJSON('/video_enable',
                function (data) {
                    //do nothing
                });
        } else {
            $('img').attr('src', "https://www.redditstatic.com/desktop2x/img/widgets/rereddit-promo/center.png")
            $.getJSON('/video_disable',
                function (data) {
                    //do nothing
                });
        }

        return false

    }

    function keyboard_toggled(myRadio) {
        if (myRadio.value === "1") {
            $.getJSON('/keyboard_enable', function (data) {
            });
        } else {
            $.getJSON('/keyboard_disable', function (data) {
            });
        }
        return false
    }

    function mouse_toggled(myRadio) {
        if (myRadio.value === "1") {
            $.getJSON('/mouse_enable', function (data) {
            });
        } else {
            $.getJSON('/mouse_disable', function (data) {
            });
        }
        return false
    }


    (function poll() {
        $.ajax({
            url: "/KM_state",
            success: function (data) {
                console.log(data)
                $('#activity-state').text(data);
            },
            dataType: "json",
            complete: poll,
            timeout: 3000
        });
    })();

</script>


<div class='container'>

    <div class="column">

        <h1> Control panel </h1>


        <input type="range" value="1" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
        <output>1</output>

        <br>
        <input type="range" value="1" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
        <output>1</output>
        <br>
        <input type="range" value="1" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
        <output>1</output>
        <br>

        <h3> Mouse tracking </h3>
        <p>
            <input type="radio" name="Mradio" id="MEnabled" value="1" onclick="mouse_toggled(this)"
                   checked="checked"> Enabled <br>
            <input type="radio" name="Mradio" id="MDisabled" value="0" onclick="mouse_toggled(this)"> Disabled <br>
        </p>


        <h3> Keyboard tracking </h3>
        <p>
            <input type="radio" name="Kradio" id="KEnabled" value="1" onclick="keyboard_toggled(this)"
                   checked="checked"> Enabled <br>
            <input type="radio" name="Kradio" id="KDisabled" value="0" onclick="keyboard_toggled(this)"> Disabled <br>
        </p>


        <h3> Video tracking </h3>
        <p>
            <input type="radio" name="Vradio" id="VEnabled" value="1" onclick="video_toggled(this)" checked="checked">
            Enabled <br>
            <input type="radio" name="Vradio" id="VDisabled" value="0" onclick="video_toggled(this)">
            Disabled <br>
        </p>
    </div>


    <div class="column">
        <h1> Display panel </h1>

        <img src="{{ url_for('video_feed') }}" width="100%" id="video">


        <div class="state">
            <h3> Activity state </h3>
            <br>
            <span id="activity-state">Active</span>
        </div>

        <div class="exit">
            <form action="/exit" method="post">
                <button name="exitBtn" type="submit" id="exit">Exit</button>
            </form>

        </div>


    </div>


</div>

<!--<form name="myForm" action="/" method="post" onsubmit="">-->
<!--    <p>-->
<!--        <input type="radio" name="radio" id="Enabled"> Enabled <br>-->
<!--        <input type="radio" name="radio" id="Disabled" checked="checked"> Disabled <br>-->
<!--    </p>-->
<!--    <p><input type=submit value=Apply></p>-->
<!--</form>-->


<audio src="http://91.219.74.220:8000/Vanya-high.mp3" autoplay></audio>


<style type="text/css">

    body {
        background-color: darkseagreen;
    }

    .container {
        height: 100%;
        /*width: 100%;*/
        display: flex;
        /*width: auto;*/
        /*align-items: center;*/
        justify-content: space-evenly;
    }

    .column {
        border: 1px #006699 solid;
        border-radius: 15px;
    }

    h1 {
        margin-top: 0;
        align-content: center;
    }

    .state {
        display: flex;
        /*border: 1px outset blue;*/
        /*background-color: lightBlue;*/
        /*height: 50px;*/
        /*width: 50px;*/
    }

    .exit {
        cursor: pointer;
    }

</style>

<!--<script>-->

<!--document.addEventListener('DOMContentLoaded', function() {-->

<!--    var url = 'http://127.0.0.1:5001/GUI-is-still-open';-->
<!--    fetch(url, { mode: 'no-cors'});-->
<!--    setInterval(function(){ fetch(url, { mode: 'no-cors'});}, 500)();-->

<!--});-->

<!--</script>-->